*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: 1370px 600px;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.new{
    float: left;
    margin-left: 5px;
}

.clr{
    clear: both;
}

.container{
    padding: 1rem 7rem;
}

.logo{
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.bg{
    background-color: rgb(82, 79, 79);
}

.anch{
    margin-left: 42rem;
}

.orange{
    color: rgb(255, 60, 0);
    font-size: 21px;
}

.anch a{
    margin-left: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.mr{
    margin-top: 10rem;
    text-align: center; 
    font-size: 29px; 
    font-weight: bolder;
    line-height: 3.5rem;
}

.mr1{
    font-size: 25px;
}

.mr a{
    background-color: rgb(255, 60, 0);;
    color: black;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.container1{
    text-align: center;
    background-color: lightgrey;
    margin-top: 12rem;
    padding: 3rem 15rem;
}


.mr2 h1{
    margin-bottom: 10px;
}

.mr2 p{
    margin-bottom: 10px;
}

.row1{
    margin-top: 10px;
    margin-left: 20rem;
    margin-right: 20rem;
}

.col1{
    height: 320px;
    width: 32.3%;
    text-align: center;   
}

.container3{
    margin: 2rem 20rem;
    height: 400px;
}

.cl1{
    width: 30%;
    height: 400px;
}

.cl2{
    width: 68.5%;
    height: 400px;
}

.row-1{
    height: 18.6%;
    margin-top: 3%;
}

.con{
    height: 100px;
    background-color: rgb(82, 79, 79);
}

.cont{
    
    margin: 2rem 20rem;
}

.c-l1{
    width: 40%;
    height: 400px;
}
.c-l2{
    width: 58%;
    height: 400px;
}

.for{
    padding: 20px;
}

